<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p>I'm a full stack developer with extensive experience in creating web pages, web shops, web apps, e-commerce systems,
            online- payment gateways, REST web services, javascript-based mobile apps and complex microservice based backend
            systems
        </p>

        <p>Teaching and coaching developers is part of my daily routine. As founder and former CTO of Recart, I built a 9-membered
            developer team. </p>

        <p>Besides development, I'm also a big fan of continuous delivery and automation.</p>

        <p>Experienced in designing, developing and maintaining applications and solutions for a wide range of corporate, startup
            and public sector clients and having the enthusiasm and ambition to complete projects to the highest standard.</p>
    </div>
    <!--//summary-->
</section>
<!--//section-->