<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>About me</h2>
    <div class="summary">
        <p>I'm a full stack developer with extensive experience in creating web pages, web shops, web apps, e-commerce systems,
            online- payment gateways, REST/GraphQL web services, javascript-based mobile apps and complex microservice based backend
            systems
        </p>

        <p>I'm proficient in designing, developing and maintaining applications and solutions for a broad range of corporate,
            start-up and public sector clients and having the enthusiasm and ambition to complete projects to the highest
            standard.
        </p>

        <p>Teaching and coaching developers is part of my daily routine. As founder and former CTO of Recart, I built a 9-membered
            developer team. </p>

        <p>Besides development, I'm also a big fan of continuous delivery and automation.</p>

        <p>Although we have built a successful startup from zero to break even, I haven't felt satisfied using all my resources
            creating a marketing tool. Now I'm searching for an opportunity where my work has a real impact on making the
            world a better place - or at least a bit more interesting 🤓</p>


    </div>
    <!--//summary-->
</section>
<!--//section-->