<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Lead Architect</h3>
                <div class="time">2017 - 2018</div>
            </div>
            <!--//upper-row-->
            <div class="company">Gambling company</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>As Lead Architect I was responsible for designing and securing the backend services for the company. The legacy system was a monolith along with some "pseudo" microservice which had to be migrated to a proper microservice architecture</p>
            <!-- <ul class="">
                <li>Designed and developed a highly scalable, fault tolerant microservice based distributed architecture with
                    more than 60 services what was used by thousands of customers and was serving requests for tens of millions
                    of end users.</li>
                <li>Hired and coached more than ten developers, some of them were freshmen, one of them couldn't even code when
                    joined our team.</li>
                <li>Built an engaging company culture what was competitive with big companies even though our salaries weren't</li>
                <li>Did a lot of research and experiment how we can design, test, deploy, maintain, and monitor microservice/distributed
                    architectures and did best practices upon them.</li>
            </ul> -->
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">CTO, Co-Founder</h3>
                <div class="time">2015 - 2017</div>
            </div>
            <!--//upper-row-->
            <div class="company">Recart</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Recart helps ecommerce merchants selling more with their store.</p>
            <p>As a co-founder and CTO I was involved in almost all process, but here is what im most proud of:</p>
            <ul class="">
                <li>Designed and developed a highly scalable, fault tolerant microservice based distributed architecture with
                    more than 60 services what was used by thousands of customers and was serving requests for tens of millions
                    of end users.</li>
                <li>Hired and coached more than ten developers, some of them were freshmen, one of them couldn't even code when
                    joined our team.</li>
                <li>Built an engaging company culture what was competitive with big companies even though our salaries weren't</li>
                <li>Did a lot of research and experiment how we can design, test, deploy, maintain, and monitor microservice/distributed
                    architectures and did best practices upon them.</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Senior Software Engineer</h3>
                <div class="time">2014 - 2015</div>
            </div>
            <!--//upper-row-->
            <div class="company">Teleport</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Teleport is basically an UBER clone made for the Hungarian Taxi market. It was connecting the drivers with the
                passangers without a third party. </p>
            <p>As only inhouse developer in the project my role was to develop the backend and coordinate the digital agency
                who was responsible for the native iOS and Android App</p>
            <p>Later we decided to bring the mobile clients also inhouse, so I developed a hibrid multiplatform mobile app</p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2013 - 2014</div>
            </div>
            <!--//upper-row-->
            <div class="company">Thatsmytour</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Thatsmytour was the European version of Roadtrippers.com.</p>
            <p>I was in charge for the full design and implementation of the software.</p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Freelance Developer</h3>
                <div class="time">2009 - 2013</div>
            </div>
            <!--//upper-row-->
            <div class="company">-</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>During the university years, I've found a small development agency. We had several projects like Developing Groupon
                clone, developing a wide range of facebook applications, e- commerce systems, payment gateways, Bitcoin based
                gambling site, dating sites.
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

</section>
<!--//section-->