<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-binoculars"></i>Plans</h2>
  <div class="intro">
    <p>Since I'm engaged with the problems caused by distributed system I want to extend my knowledge towards that direction.
      One programing language that is created for this purpose is Erlang / Elixir. The other language I'm interested in is
      Golang since it solves the two biggest disadvantage of Node.js which are: lack of type system and single threaded nature.
    </p>
    <p>I'm also interested in robotics, and bionics, I would like to learn about those things and use my skills outside of virtual
      context
    </p>
  </div>

</section>