<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects and technologies used</h2>
    <div class="intro">
        <p></p>
    </div>
    <!--//intro-->
    <div class="item">
        <p><span class="project-title"><a href="#hook">PIX!</a></span></p>
        <p><span class="project-tagline">Tech: Angular 1 😅, React, Webpack, Jenkins, Docker, AWS, Typescript</span></p>

    </div>
    <div class="item">
        <p><span class="project-title"><a href="#hook">helloCoin!</a></span></p>
        <p><span class="project-tagline">Technologies: Postrge, Typescript, Heroku,Redis, Docker, Webpack, React, Angular, RxJS, Redux, AWS: Cloudfront, DynamoDB, Lambda, Codeship, Terraform, Git</span></p>

    </div>
    <div class="item">
        <p><span class="project-title"><a href="#hook">Gambling company</a></span></p>
        <p><span class="project-tagline">Technologies: Node.js, Heroku, Vue.js Redis, Docker, Kubernetes, Typescript, Webpack, React, Redux, AWS: Cloudfront, DynamoDB, Lambda, Codeship, Terraform, Git</span></p>

    </div>
    <!--//item-->
    <div class="item">
        <p><span class="project-title"><a href="#hook">Recart</a></span></p>
        <p><span class="project-tagline">Technologies: Node.js, MongoDB, Redis, Docker, Kubernetes, Typescript, Flowtype, Grunt, Gulp, Webpack, React, Redux, Vue.js, AWS: Cloudfront, DynamoDB, Lambda, SQS, SNS, EC2, Ruby, Codeship, Terraform, Git</span></p>

    </div>
    <!--//item-->
    <div class="item">
        <p><span class="project-title"><a href="#" target="">Tinderhunter</a></span></p>
        <p><span class="project-tagline">Description: We made Tinder searchable based on name, age and location, we reverse engineered Tinder's API then made bots what was traveling around the world</span></p>
        <p><span class="project-tagline">Technologies: Node.js, Golang, MongoDB, Redis, React, Git</span></p>
    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="">Teleport</a></span> - <span class="project-tagline">Node.js, MongoDB, Redis, PostgreSQL, Phonegap, Ionic, Git</span>
    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="">Thatsmytour</a></span> - <span class="project-tagline">Node.js, MongoDB, Redis, MySQL, Backbone</span>
    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="">Fifa FUT trader bot</a></span> - <span class="project-tagline"></span>
    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="">Other projects:</a></span> - <span class="project-tagline">PHP, Python, Ruby</span>
    </div>
    <!--//item-->
</section>
<!--//section-->